<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
<!--   <property name="hibernate.connection.driver_class">org.postgresql.Driver</property> -->
<!--   <property name="hibernate.connection.password">banzaj</property> -->
<!--   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/chat</property> -->
<!--   <property name="hibernate.connection.username">devel</property> -->
<!--   <property name="hibernate.default_schema">public</property> -->
<!--   <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> -->
  <property name="hibernate.show_sql">true</property>
  <mapping class="com.seventysevenagency.chat.domain.User" resource="com/seventysevenagency/chat/domain/User.hbm.xml"/>
  <mapping class="com.seventysevenagency.chat.domain.Conversation" resource="com/seventysevenagency/chat/domain/Conversation.hbm.xml"/>
  <mapping class="com.seventysevenagency.chat.domain.Message" resource="com/seventysevenagency/chat/domain/Message.hbm.xml"/>
  <mapping class="com.seventysevenagency.chat.domain.Participant" resource="com/seventysevenagency/chat/domain/Participant.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
